

.contact-modal {
  background: #c0c0c0;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: inset -2px -2px #000, inset 2px 2px #fff;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.contact-modal h2 {
    margin-bottom: 1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form label {
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 0;
  border: 1px solid #000;
  background: #fff;
}

#contact-form button {
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  background-color: #d3d3d3;
  border: 1px solid #000000;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  box-shadow: inset -1px -1px #000, inset 1px 1px #fff, inset -2px -2px #808080, inset 2px 2px #f0f0f0;
}

#contact-form button:hover {
  background-color: #a9a9a9;
}
